<template>
  <div class="shop__sidebar">
    <div class="price-short-fileter">
      <b-form-select
        v-model="selected"
        :options="options"
        v-on:change="sortLowerPrice($event, '0')"
      ></b-form-select>
    </div>

    <div class="sidebar__categories">
      <div class="section-title">
        <h4>Categories</h4>
      </div>
      <div class="categories__accordion">
        <div class="accordion" role="tablist">
          <b-card no-body>
            <b-card-header header-tag="header" role="tab">
              <b-link block v-b-toggle.accordion-1 variant="info">Women</b-link>
            </b-card-header>
            <b-collapse
              id="accordion-1"
              visible
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <ul>
                  <li><a href="#">Coats</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Jeans</a></li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body>
            <b-card-header header-tag="header" role="tab">
              <b-link block v-b-toggle.accordion-2 variant="info">Men </b-link>
            </b-card-header>
            <b-collapse
              id="accordion-2"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <ul>
                  <li><a href="#">Coats</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Jeans</a></li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body>
            <b-card-header header-tag="header" role="tab">
              <b-link block v-b-toggle.accordion-3 variant="info">Kids </b-link>
            </b-card-header>
            <b-collapse
              id="accordion-3"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <ul>
                  <li><a href="#">Coats</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Jeans</a></li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body>
            <b-card-header header-tag="header" role="tab">
              <b-link block v-b-toggle.accordion-4 variant="info"
                >Accessories
              </b-link>
            </b-card-header>
            <b-collapse
              id="accordion-4"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <ul>
                  <li><a href="#">Coats</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Jeans</a></li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body>
            <b-card-header header-tag="header" role="tab">
              <b-link block v-b-toggle.accordion-5 variant="info"
                >Cosmetic
              </b-link>
            </b-card-header>
            <b-collapse
              id="accordion-5"
              accordion="my-accordion"
              role="tabpanel"
            >
              <b-card-body>
                <ul>
                  <li><a href="#">Coats</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Jeans</a></li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>
    </div>
    <div class="sidebar__filter">
      <div class="section-title">
        <h4>Shop by price</h4>
      </div>
      <div class="filter-range-wrap">
        <div
          class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
          data-min="33"
          data-max="99"
        >
          <div
            class="ui-slider-range ui-corner-all ui-widget-header"
            style="left: 0%; width: 100%"
          ></div>
          <span
            tabindex="0"
            class="ui-slider-handle ui-corner-all ui-state-default"
            style="left: 0%"
          ></span
          ><span
            tabindex="0"
            class="ui-slider-handle ui-corner-all ui-state-default"
            style="left: 100%"
          ></span>
        </div>
        <div class="range-slider">
          <div class="price-input">
            <p>Price:</p>
            <input type="text" id="minamount" />
            <input type="text" id="maxamount" />
          </div>
        </div>
      </div>
      <a href="#">Filter</a>
    </div>
    <div class="sidebar__sizes">
      <div class="section-title">
        <h4>Shop by size</h4>
      </div>
      <div class="size__list">
        <label for="xxs">
          xxs
          <input type="checkbox" id="xxs" />
          <span class="checkmark"></span>
        </label>
        <label for="xs">
          xs
          <input type="checkbox" id="xs" />
          <span class="checkmark"></span>
        </label>
        <label for="xss">
          xs-s
          <input type="checkbox" id="xss" />
          <span class="checkmark"></span>
        </label>
        <label for="s">
          s
          <input type="checkbox" id="s" />
          <span class="checkmark"></span>
        </label>
        <label for="m">
          m
          <input type="checkbox" id="m" />
          <span class="checkmark"></span>
        </label>
        <label for="ml">
          m-l
          <input type="checkbox" id="ml" />
          <span class="checkmark"></span>
        </label>
        <label for="l">
          l
          <input type="checkbox" id="l" />
          <span class="checkmark"></span>
        </label>
        <label for="xl">
          xl
          <input type="checkbox" id="xl" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="sidebar__color">
      <div class="section-title">
        <h4>Shop by size</h4>
      </div>
      <div class="size__list color__list">
        <label for="black">
          Blacks
          <input type="checkbox" id="black" />
          <span class="checkmark"></span>
        </label>
        <label for="whites">
          Whites
          <input type="checkbox" id="whites" />
          <span class="checkmark"></span>
        </label>
        <label for="reds">
          Reds
          <input type="checkbox" id="reds" />
          <span class="checkmark"></span>
        </label>
        <label for="greys">
          Greys
          <input type="checkbox" id="greys" />
          <span class="checkmark"></span>
        </label>
        <label for="blues">
          Blues
          <input type="checkbox" id="blues" />
          <span class="checkmark"></span>
        </label>
        <label for="beige">
          Beige Tones
          <input type="checkbox" id="beige" />
          <span class="checkmark"></span>
        </label>
        <label for="greens">
          Greens
          <input type="checkbox" id="greens" />
          <span class="checkmark"></span>
        </label>
        <label for="yellows">
          Yellows
          <input type="checkbox" id="yellows" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  data() {
    return {
      collection_list: [],
      activeEventData: "Latest",
      selected: null,
      options: [
        { value: null, text: "Latest" },
        { value: "sortLowerPrice", text: "Price Low To High" },
        { value: "sortHighPrice", text: "Price High To Low" },
        { value: "bestSelling", text: "Best Selling" },
      ],
    };
  },
  methods: {
    sortLowerPrice(value, id) {
      if (value == "sortLowerPrice") {
        this.$store.dispatch("sortLowerPrice", id);
      } else if (value == "sortHighPrice") {
        this.$store.dispatch("sortHighPrice", id);
      } else if (value == "bestSelling") {
        this.$store.dispatch("bestSaller", id);
      } else if (value == null) {
         this.$store.dispatch("latest", id);
      }
    },
  },  
};
</script>

<style lang="scss">
@import "~assets/css/_shopsidebar";
</style>
