<template>
  <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container" v-for="item in aboutUs" :key="item.id" >
      <div class="row" >
        <div :class="item.class">
          <div :class="item.classImg">
            <img :src="letterIcon(item.image)" alt="" />
          </div>
        </div>
        <div :class="item.classTextCon">
          <div :class="item.classText">
            <h2 class="mb-4">{{item.title}}</h2>
            <p>{{item.description}}             
            </p>
            <p><router-link to="/clothes" class="btn site-btn px-4 py-3">{{item.link}}</router-link></p>
          </div>
        </div>
      </div>    
    </div>
  </section>
</template>
<script>
import about  from "../../static/Data/home.json"
export default {
  data() {
    return {
      aboutUs:about.home && about.home.about_us
    }   
  },
  methods: {
    letterIcon: function(path) {
      return require("@/" + path);
    },
  },    
};
</script>




<style lang="scss">
@import '~assets/css/homediscount';
</style>
