<template>
  <section class="categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-0">
          <div
            class="categories__item categories__large__item set-bg womens_bg"
          >
            <img src="~/static/categories/category-1.jpg" alt="" />
            <div class="categories__text">
              <h1>Women’s fashion</h1>
              <p>
                Sitamet, consectetur adipiscing elit, sed do eiusmod tempor
                incidid-unt labore edolore magna aliquapendisse ultrices
                gravida.
              </p>
              <router-link to="/clothes">Shop now</router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-6" >
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 p-0" v-for="item in categoryData" :key="item.id">
              <div
                class="categories__item set-bg categories__small__item mens_bg"
              >
                <img :src="letterIcon(item.image)" alt="" />
                <div class="categories__text">
                  <h4>{{item.title}}</h4>
                  <p>{{item.description}}</p>
                  <router-link to="/clothes">{{item.link}}</router-link>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
      categoryData:trend.home && trend.home.categories
    }   
  },   
   created() {
      console.log("banner", this.catData )
    },
      methods: {
    letterIcon: function(path) {
      return require("@/" + path);
    },
  },    
};
</script>


<style lang="scss">
@import '~assets/css/homecategories';
</style>
