<template>
  <section class="trend spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content" >
            <div class="section-title">
              <h4>HOT TREND</h4>
            </div>
            <div class="trend__item" v-for="item in catData" :key="item.id"> 
              <div class="trend__item__pic">
                <img :src="letterIcon(item.image)" alt="image data" />
              </div>
              <div class="trend__item__text">
                <h6>{{item.title}}</h6>
                <div class="rating">  
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product__price">$ {{item.price}}</div>
              </div>
            </div>           
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4>Best seller</h4>
            </div>
            <div class="trend__item" v-for="item in trand2" :key="item.id">
              <div class="trend__item__pic">
                <img :src="letterIcon(item.image)" alt="" />
              </div>
              <div class="trend__item__text">
                  <h6>{{item.title}}</h6>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product__price">$ {{item.price}}</div>
              </div>
            </div>            
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6" >
          <div class="trend__content">
            <div class="section-title">
              <h4>Feature</h4>
            </div>
            <div class="trend__item" v-for="item in trand3" :key="item.id">
              <div class="trend__item__pic">
                   <img v-if="item.image" :src="letterIcon(item.image)" alt="" />
              </div>
              <div class="trend__item__text">
                 <h6>{{item.title}}</h6>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
             <div class="product__price">$ {{item.price}}</div>
              </div>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
       catData: trend.home && trend.home.trend[0].product,
       trand2: trend.home && trend.home.trend[1].product,
      trand3: trend.home && trend.home.trend[2].product
    }   
  },     
    methods: {
    letterIcon: function(path) {
      return require("@/" + path);
    },
  },   
};
</script>




<style lang="scss">
@import '~assets/css/hometrend';
</style>
