<template>
  <section class="services spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" v-for="item in aboutUs" :key="item.id">
          <div class="services__item">
            <i :class="item.class"></i>
            <h6>{{item.title}}</h6>
            <p>{{item.description}}</p>
          </div>
        </div>     
      </div>
    </div>
  </section>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
      aboutUs:trend.home && trend.home.services_item
    }   
  },    
 methods: {
    letterIcon: function(path) {
      return require("@/" + path);
    },
  },    
};
</script>

