<template>
  <div>
    <div class="instagram">
      <div class="containerfluid">
        <VueSlickCarousel v-bind="settings">
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-1.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-2.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-3.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-4.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-5.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-6.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>

          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-1.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-2.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-3.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-4.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-5.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
          <div class="">
            <div class="instagram__item set-bg">
              <img src="~/static/instagram/insta-6.jpg" alt="" />
              <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">@ ashion_shop</a>
              </div>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  name: 'MyComponent',
  components: { VueSlickCarousel },
  data() {
    return {
      settings: {
        dots: false,
        arrows: false,
        dotsClass: 'slick-dots custom-dot-class',
        edgeFriction: 0.35,
        infinite: false,
        speed: 500,
        slidesToShow: 6,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: false,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              dots: false,
              arrows: true,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: false,
              arrows: true,
            },
          },
        ],
      },
    }
  },
}
</script>
