<template>
  <div>
    <section class="home-aboutus text-center">
      <div class="container">
        <div class="section-title">
          <h2>{{about.title}}</h2>
          <p>
           {{about.description}}
          </p><br>
          <p><router-link to="/clothes" class="btn site-btn px-4 py-3">Shop</router-link></p>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
       about:''
    }   
  },
  mounted(){
    this.aboutUs();
  },
  methods: {
    aboutUs(){
      let rawData = Object.entries(trend);
      const arrData = rawData[0]
      console.log("about", arrData);
      if(arrData){
      var arr = arrData[1].about_our_history
    this.about = arr
      //console.log("arr", arr);      
       //this.about.push(...myArr)   
      }
    }    
  }
};
</script>

<style lang="scss">
@import '~assets/css/homeaboutus';
</style>