<template>
  <div>
    <section class="banner banner-home set-bg">
      <div class="home_slider" >
        <b-carousel
          class="banner__slider"
          id="carousel-fade"
          style="text-shadow: 0px 0px 2px #000"
          indicators
          img-width="1024"
          img-height="668"
          
        >
          <b-carousel-slide
          v-for="item in catData" :key="item.id"
            :img-src="letterIcon(item.image)"
            class="banner__item"
          >
            <div class="banner__text">
              <span>{{item.title}}</span>
              <h1>{{item.description}}</h1>
              <router-link to="/shop">Shop now</router-link>
            </div>
          </b-carousel-slide>         
        </b-carousel>
      </div>
    </section>
  </div>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
       catData:[]
    }   
  },   
   mounted() {
      this.bannerData();
    },
      methods: {
     letterIcon: function(path) {
      return require("@/" + path);
    },
    bannerData(){
      let rawData = Object.entries(trend);
      const arrData = rawData[0]
      if(arrData){
      var arr = arrData[1].banners
      this.catData.push(...arr)        
    }         
    }
  },    
};
</script>



<style lang="scss">
@import '~assets/css/homebannerbegin';
</style>
