<template>
  <div>
    <section class="product spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="section-title">
              <h4>New product</h4>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <ul class="filter__controls">
              <li class="active" data-filter="*">All</li>
              <li data-filter=".women">Women’s</li>
              <li data-filter=".men">Men’s</li>
              <li data-filter=".kid">Kid’s</li>
              <li data-filter=".accessories">Accessories</li>
              <li data-filter=".cosmetic">Cosmetics</li>
            </ul>
          </div>
        </div>
        <div class="row property__gallery" >
          <div class="col-lg-3 col-md-4 col-sm-6 mix women" v-for="item in newProduct" :key="item.id">
            <div class="product__item">
              <div class="product__item__pic set-bg">
                <img :src="letterIcon(item.src)" alt="" />
                <div class="label new" v-if="item.availableForSale">{{item.availableForSale}}</div>
                <ul class="product__hover">
                  <li>
                    <a href="#" class="image-popup"
                      ><span class="arrow_expand"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon_bag_alt"></span></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">{{item.title}}</a></h6>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product__price">$ {{item.price}}</div>
              </div>
            </div>
          </div>           
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import trend  from "../../static/Data/home.json"
export default {
  data() {
    return {
      newProduct: trend.home.new_product && trend.home.new_product[0].products
    }   
  },   
  //  created() {
  //     console.log("newProduct", this.newProduct )
  //   },
      methods: {
    letterIcon: function(path) {
      return require("@/" + path);
    },
  },    
};
</script>

<style lang="scss">
@import '~assets/css/homenewproduct';
</style>
