<template>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-2 headerleft">
          <Logo />
        </div>
        <div class="col-xl-6 col-lg-7 headecenter">
          <b-navbar-toggle class="canvas__open" target="nav-collapse"
            ><i class="fa fa-bars"></i
          ></b-navbar-toggle>
          <b-navbar toggleable="lg" type="dark" variant="info">
            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-toggle
                class="canvas__open smtoggle"
                target="nav-collapse"
              >
                +</b-navbar-toggle
              >
              <Headerright />
              <Logo />
              <b-navbar-nav>
                <!-- <b-nav-item class="" to="/"> Home </b-nav-item> -->
                <li class="nav-item">
                 <router-link class="nav-link" to="/clothes">Clothes</router-link></li>
               <li class="nav-item"> <router-link class="nav-link" to="/eventDressing">Event Dressing</router-link>  </li>
                <li class="nav-item"><router-link class="nav-link" to="/accessories">Accessories</router-link>  </li>
                <li class="nav-item"><router-link class="nav-link" to="/outlet">OUTLET</router-link>  </li>
              <li class="nav-item"> <router-link class="nav-link" to="/sale">Sale</router-link>  </li>
              
                <!-- <b-nav-item-dropdown>
                  <template class="nav-link" v-slot:button-content>
                    Pages <i></i>
                  </template>
                  <b-dropdown-item to="/Productdetails">
                    Product Details</b-dropdown-item
                  >
                  <b-dropdown-item to="/Shopcart">Shop cart</b-dropdown-item>
                  <b-dropdown-item to="/Checkout">Checkout</b-dropdown-item>
                  
                  <b-dropdown-item to="#">Sign Out</b-dropdown-item>
                  <b-dropdown-item to="/blogdetails"
                    >Blog Details</b-dropdown-item
                  >
                </b-nav-item-dropdown> -->
                <!-- <b-nav-item to="/blog">Blog</b-nav-item>
                <b-nav-item to="/contact"> Contact</b-nav-item> -->
              </b-navbar-nav>
              <Lohinlinks />
            </b-collapse>
          </b-navbar>
        </div>
        <div class="col-lg-3 headerright">
          <div class="header__right">
            <Lohinlinks />
            <Headerright />
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
@import '~assets/css/header';
</style>
