<template>
  <div>
    <ul class="header__right__widget">
      <li><span v-b-modal.header-search class="icon_search search-switch"></span></li>
      <li>
       <router-link v-bind:to="{name:'Shopcart', params:data}">
          <span class="icon_heart_alt"></span>
          <div class="tip">0</div>
        </router-link>
      </li>
      <li>
          <router-link v-bind:to="{name:'Cart', params:data}">
          <span class="icon_bag_alt"></span>
          <div class="tip">{{cartItemCount}}</div>
        </router-link>
      </li>
    </ul>
  </div>
</template>
<script>

export default {
  data() {
    return {
      data:[]
  }
  },
  computed: {
    cartItemCount(){
        return this.$store.getters.cartItemCount
    },
     }
};
</script>