<template>
  <div class="header__logo">
    <nuxt-link to="/"><img src="~/static/logo.png" alt="" /></nuxt-link>
  </div>
</template>
<script>
export default {
  data() {
    return {      
    };
  },
  created: function () {
       this.checkOut();          
     },  
  methods: {
    checkOut() {
      this.$store.dispatch('checkOut')        
    },          
  },   
};
</script>