<template>
  <div class="checkout__order">
    <h5>Your order</h5>
        <div class="checkout__order__product" v-for="(item, index) in cart" :key="index">
      <ul>        
        <li>0{{index+1}}. {{ item.title }}<span>$ {{item.variant.price * item.quantity}}</span></li>
       </ul>
    </div>
    <div class="checkout__order__total">
      <ul>
        <li>Subtotal <span>$ {{ cartTotalPrice }}</span></li>
        <li>Total <span>$ {{ cartTotalPrice }}</span></li>
      </ul>
    </div>
    <div class="checkout__order__widget">
      <label for="o-acc">
        Create an acount?
        <input type="checkbox" id="o-acc" />
        <span class="checkmark"></span>
      </label>
      <p>
        Create an acount by entering the information below. If you are a
        returing customer login at the top of the page.
      </p>
      <label for="check-payment">
        Cheque payment
        <input type="checkbox" id="check-payment" />
        <span class="checkmark"></span>
      </label>
      <label for="paypal">
        PayPal
        <input type="checkbox" id="paypal" />
        <span class="checkmark"></span>
      </label>
    </div>
    <button type="submit" class="site-btn" @click.prevent="orderPlace">Place oder</button>
  </div>
</template>
<script>
  export default {
      computed: {
    cart() {
     return this.$store.state.cart;         
    },
    cartTotalPrice() {
      return this.$store.getters.cartTotalPrice
    }
  },
}

</script>>

<style lang="scss">
@import '~assets/css/checkout';
@import '~assets/css/responsive';
</style>