<template>
  <div class="product__details__text">
    <h3>
      {{ shopList.title }}
      <span>Brand: SKMEIMore Men Watches from SKMEI</span>
    </h3>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <span>( 138 reviews )</span>
    </div>
    <div class="product__details__price">
      $ {{ shopList.variants[0].price }}
      <span>$ {{ shopList.variants[0].compareAtPrice }}</span>
    </div>
    <p>
      Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed
      quia consequuntur magni lores eos qui ratione voluptatem sequi nesciunt.
    </p>
    <div class="product__details__button">
      <div class="quantity">
        <span>Quantity:</span>
        <div class="pro-qty">
          <span class="dec qtybtn" v-on:click="decrement(value)">-</span>
          <input type="text" v-model="value" />
          <span class="inc qtybtn" v-on:click="increment(value)">+</span>
        </div>
      </div>
      <button class="cart-btn" @click="addToCart()">
        <span class="icon_bag_alt"></span>Add to cart
      </button>
      <ul>
        <li>
          <a href="#"><span class="icon_heart_alt"></span></a>
        </li>
        <li>
          <a href="#"><span class="icon_adjust-horiz"></span></a>
        </li>
      </ul>
    </div>
    <div class="product__details__widget">
      <ul>
        <li>
          <span>Availability:</span>
          <div class="stock__checkbox">
            <label for="stockin" v-if="shopList.availableForSale">
              In Stock
              <input type="checkbox" id="stockin" v-model="shopList" />
              
              <span class="checkmark"></span>
            </label>
          </div>
        </li>
        <li v-if="options[1]">
          <span>Available color:</span>
          <div class="color__checkbox">
            <select v-model="selected" >
                 <option v-for="data in options[1].values" :key="data.id">
                {{ data.value }}
              </option>
            </select>
            </div>
        </li>
        <li>
          <span>Available size:</span>
             <div class="size__btn">
            <select v-model="selectedSize">
                 <option v-for="data in options[0].values" :key="data.id">
                {{ data.value }}
              </option>
            </select>          
          </div>
        </li>
        <li>
          <span>Promotions:</span>
          <p>Free shipping</p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: ["shopList"],
  data() {
    return {
       selected: '',
       selectedSize: '',
       options:[],
      value: 1,
    };
  },
  created() {
    this.options = this.shopList.options
    this.selected = this.shopList.options[1].values[0] && this.shopList.options[1].values[0].value
    this.selectedSize = this.shopList.options[0].values[0] && this.shopList.options[0].values[0].value
    },
  methods: {
    increment(value) {
      this.value = value + 1;
    },
    decrement(value) {
      if (value > 1) {
        this.value = value - 1;
      }
    },
    addToCart() {
      const variantId = this.shopList.variants[0].id;
      const qty = this.value;
      this.$store.dispatch("addToCart", { variantId, qty });
    },
  },
};
</script>