<template>

    <div class="product__details__tab">
      
        <b-tabs>
          <b-tab title="Description" active>
            <h6>Description</h6>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut loret fugit, sed quia consequuntur magni dolores eos qui
              ratione voluptatem sequi nesciunt loret. Neque porro lorem
              quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
              voluptatem quia voluptas sit aspernatur aut odit aut loret fugit,
              sed quia ipsu consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Nulla consequat massa quis enim.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
          </b-tab>

          <b-tab title="Specification">
            <h6>Specification</h6>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut loret fugit, sed quia consequuntur magni dolores eos qui
              ratione voluptatem sequi nesciunt loret. Neque porro lorem
              quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
              voluptatem quia voluptas sit aspernatur aut odit aut loret fugit,
              sed quia ipsu consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Nulla consequat massa quis enim.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
          </b-tab>
          <b-tab title="Reviews ( 2 )">
            <h6>Reviews ( 2 )</h6>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut loret fugit, sed quia consequuntur magni dolores eos qui
              ratione voluptatem sequi nesciunt loret. Neque porro lorem
              quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
              voluptatem quia voluptas sit aspernatur aut odit aut loret fugit,
              sed quia ipsu consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Nulla consequat massa quis enim.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem.
            </p>
          </b-tab>
        </b-tabs>
     
  
  </div>
</template>
