<template>

 <div class="product__details__pic" >
     <ProductZoomer :base-images="images" :base-zoomer-options="zoomerOptions" />
  </div>
 
</template>
<script>
export default {
  props:['shopList'],
  name: 'app',
  data() {
    return {
      data:[],
      images: {
        thumbs: [],
        normal_size: [],
        large_size: [],
      },
      zoomerOptions: {
        zoomFactor: 3,
        pane: 'container',
        hoverDelay: 300,
        namespace: 'inline-container',
        move_by_click: true,
        scroll_items: 4,
        choosed_thumb_border_color: '#dd2c00',
        scroller_position: 'left',
      },
    }
  },
  mounted (){
   if(this.shopList){
      console.log("check image :", data)
    this.shopList.images && this.shopList.images.map(data=> {
     
       this.images.normal_size.push({id:data.id, url:data.src})
    })
     this.shopList.images && this.shopList.images.map(data=> {
       this.images.thumbs.push({id:data.id, url:data.src})
    })
     this.shopList.images && this.shopList.images.map(data=> {
       this.images.large_size.push({id:data.id, url:data.src})
    })  
    }
  },
  updated(){
    console.log("check", this.images.thumbs,this.images.large_size,this.images.normal_size);
  }
  }
</script>