<template>
  <div class="relatedproduct-row">
     <div class="text-center">
      <div class="related__title">
        <h5>RELATED PRODUCTS</h5>
      </div>
    </div>


    <VueSlickCarousel v-bind="settings1">
        <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-1.jpg" alt="" />
          <div class="label new">New</div>
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Buttons tweed blazer</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-2.jpg" alt="" />
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Flowy striped skirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 49.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-3.jpg" alt="" />
          <div class="label stockout">out of stock</div>
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Cotton T-Shirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-4.jpg" alt="" />
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Slim striped pocket shirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
     <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-1.jpg" alt="" />
          <div class="label new">New</div>
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Buttons tweed blazer</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-2.jpg" alt="" />
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Flowy striped skirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 49.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-3.jpg" alt="" />
          <div class="label stockout">out of stock</div>
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Cotton T-Shirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <img src="~/static/product/related/rp-4.jpg" alt="" />
          <ul class="product__hover">
            <li>
              <a href="" class="image-popup"
                ><span class="arrow_expand"></span
              ></a>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon_bag_alt"></span></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">Slim striped pocket shirt</a></h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">$ 59.0</div>
        </div>
      </div>
    </div>
    </VueSlickCarousel>



   
    
  </div>
</template>


<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  name: 'MyComponent',
  components: { VueSlickCarousel },
  data() {
    return {
      settings1: {
        dots: false,
        arrows: true,
        dotsClass: 'slick-dots custom-dot-class',
        edgeFriction: 0.35,
        infinite: false,
        speed: 500,
        slidesToShow:4,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: false,
            },
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              dots: false,
            },
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: false,
            },
          },
        ],
      },
    }
  },
}
</script>