@import 'var';

.header {
  .navbar {
    .header__logo,
    .header__right__widget,
    .header__right__auth {
      display: none;
    }
  }
}
.smtoggle {
  display: none;
}
.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
  box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
  z-index:222;
position: relative;
}

.header__logo {
  padding: 26px 0;
}

.header__logo a {
  display: inline-block;
}

.navbar-brand a {
  color: $white;
}

.header__menu {
  padding: 30px 0 27px;
}

.navbar-dark {
  .navbar-nav {
    .nav-item {
      list-style: none;
      display: inline-block;
      margin-right: 44px;
      position: relative;
    }
  }
}
.navbar-dark {
  .navbar-nav {
    .nav-link {
      padding: 0;
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $white;
      padding: 0px;
      font-size: 15px;
      text-transform: uppercase;
      color: #111111;
      font-weight: 500;
      display: block;
      padding: 2px 0;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #ca1515;
        content: '';
        -webkit-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }
    }
  }
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark
  .navbar-nav
  .nav-link.active
  .header
  .navbar-dark
  .navbar-nav
  a:hover { background:none;
  color: #000;
}
.header .navbar-dark .navbar-nav .dropdown-menu li a:hover {
  color: #fff;
}
.header .navbar-dark .navbar-nav a:hover::after {
  transform: scale(1);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #000;
}
.navbar-dark {
  .dropdown-toggle::after {
    border: 0;
    margin: 0;
  }
}

.navbar-dark {
  .navbar-nav {
    .nuxt-link-exact-active::after {
      transform: scale(1);
    }
  }
}
.navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: #000;
}

button {
  outline: none;
}

.navbar-dark {
  .dropdown-menu {
    left: 0;
    top: 56px;
    width: 150px;
    background: #111111;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    border-radius: 0;
  }
}

.navbar-dark {
  .dropdown:hover .dropdown-menu {
    top: 25px;
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
.navbar-dark {
  .dropdown-menu {
    li {
      a {
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        padding: 8px 20px;
        text-transform: capitalize;background: none !important;
        &:hover {
          background: none !important;
          color: #ffffff;
        }
      }
    }
  }
}

.navbar-dark {
  .dropdown:hover a.nav-link::after {
    transform: scale(1);
  }
}

.navbar-dark .navbar-nav .nav-item:last-child {
  margin-right: 0px;
}

.header__right {
  text-align: right;
  padding: 30px 0 27px;display: flex;
  justify-content: right;
}

.header__right__auth {
  display: inline-block;
  margin-right: 25px;
}

.header__right__auth a {
  font-size: 12px;
  color: #666666;
  position: relative;
  margin-right: 8px;
}

.header__right__auth a:last-child {
  margin-right: 0;
}

.header__right__auth a:last-child:after {
  display: none;
}

.header__right__auth a:after {
  position: absolute;
  right: -8px;
  top: -2px;
  content: '/';
  font-size: 13px;
}

.header__right__widget {
  display: inline-block;
}

.header__right__widget li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  color: #111111;
  margin-right: 20px;
  cursor: pointer;
}

.header__right__widget li:last-child {
  margin-right: 0;
}

.header__right__widget li a {
  font-size: 18px;
  color: #111111;
  position: relative;
}

.header__right__widget li a .tip {
  position: absolute;
  right: -12px;
  top: -11px;
  height: 18px;
  width: 18px;
  background: #111111;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
}

.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}

header {
  .bg-info {
    background: none !important;
    padding: 30px 0 27px;
  }
}
