
.categories {
    overflow: hidden;
    margin-top: 10px;
  }
  
  .categories .container-fluid {
    padding-right: 5px;
  }
  
  .categories__item {
    height: 314px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
  }
  
  p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
    margin-bottom: 15px;
  }
  .categories__item.categories__large__item {
    height: 638px;
    padding-left: 70px;
    position: relative;
  }
  
  .womens_bg {
    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
  .categories__small__item {
    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
  .categories__text {
    position: relative;
    z-index: 1;
  }
  .categories__item.categories__large__item .categories__text {
    max-width: 480px;
    position: relative;
  }
  
  .categories__item.categories__large__item .categories__text p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  
  .categories__text h1 {
    font-family: 'Cookie', cursive;
    color: #111111;
    margin-bottom: 5px;
    font-size: 70px;
  }
  
  .categories__text h4 {
    color: #111111;
    font-weight: 700;
  }
  
  .categories__text p {
    margin-bottom: 10px;
  }
  
  .categories__text a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
  }
  
  .categories__text a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: '';
  }