
.trend {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  .trend__content .section-title h4 {
    font-size: 20px;
  }
  
  .trend__content .section-title h4:after {
    bottom: -6px;
  }
  
  .trend__item {
    overflow: hidden;
    margin-bottom: 35px;
  }
  
  .trend__item__pic {
    float: left;
    margin-right: 25px;
  }
  
  .trend__item__text {
    overflow: hidden;
  }
  
  .trend__item__text h6 {
    font-size: 14px;
    color: #111111;
    margin-bottom: 5px;
  }
  
  .trend__item__text .rating {
    line-height: 18px;
    margin-bottom: 6px;
  }
  
  .trend__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
  }
  
  .trend__item__text .rating i:last-child {
    margin-right: 0;
  }
  
  .trend__item__text .product__price {
    color: #111111;
    font-weight: 600;
  }
  
  .trend__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
  }
  
  .section-title {
    margin-bottom: 45px;
  }