.home-aboutus {
  padding:70px 0 30px;
  p {
    font-size: 16px;
    margin: 0 auto;
  }
  h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 3px;
    padding-bottom: 20px;
    font-weight: 700;
    span {
      color: #ca1515;
      font-weight: 500;
    }
  }
}
