
.product {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .section-title h4 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }
  
  .section-title h4::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: #ca1515;
    content: '';
  }
  
  .filter__controls {
    text-align: right;
    margin-bottom: 50px;
  }
  
  .filter__controls li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    color: #111111;
    margin-right: 35px;
    position: relative;
    cursor: pointer;
  }
  
  .filter__controls li.active:after {
    opacity: 1;
  }
  
  .filter__controls li:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: '';
    opacity: 0;
  }
  
  .filter__controls li:last-child {
    margin-right: 0;
  }
  
  .product__item {
    margin-bottom: 35px;
  }
  
  .product__item:hover .product__hover li {
    opacity: 1;
    top: 0;
  }
  
  .product__item.sale .product__item__pic .label {
    background: #ca1515;
  }
  
  .product__item.sale .product__item__text .product__price {
    color: #ca1515;
  }
  
  .product__item__pic {
    height: 360px;
    position: relative;
    overflow: hidden;
  }
  
  .product__item__pic .label {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  
  .product__item__pic .label.new {
    background: #36a300;
  }
  
  .product__item__pic .label.stockout {
    background: #111111;
  }
  
  .product__item__pic .label.stockblue {
    background: #0066bd !important;
  }
  
  .product__item__pic .label.sale {
    background: #ca1515;
  }
  
  .product__hover {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;
    text-align: center;
  }
  
  .product__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;
  }
  
  .product__hover li:nth-child(1) {
    -webkit-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
  }
  
  .product__hover li:nth-child(2) {
    -webkit-transition: all 0.4s ease 0.15s;
    -o-transition: all 0.4s ease 0.15s;
    transition: all 0.4s ease 0.15s;
  }
  
  .product__hover li:nth-child(3) {
    -webkit-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
  }
  
  .product__hover li:last-child {
    margin-right: 0;
  }
  
  .product__hover li:hover a {
    background: #ca1515;
  }
  
  .product__hover li:hover a span {
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .product__hover li a {
    font-size: 18px;
    color: #111111;
    display: block;
    height: 45px;
    width: 45px;
    background: #ffffff;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  
  .product__hover li a span {
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    display: inline-block;
  }
  
  .product__item__text {
    text-align: center;
    padding-top: 22px;
  }
  
  .product__item__text h6 a {
    font-size: 14px;
    color: #111111;
  }
  
  .product__item__text .rating {
    line-height: 18px;
    margin-bottom: 5px;
  }
  
  .product__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
  }
  
  .product__item__text .rating i:last-child {
    margin-right: 0;
  }
  
  .product__item__text .product__price {
    color: #111111;
    font-weight: 600;
  }
  
  .product__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
  }
  .product__item__pic {
    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  