.ftco-section {
  background: #f8f9fa !important;
}
.ftco-choose .text {
  margin-left: -200px;
}
.ftco-section .img {
  position: relative;
  height: 100%;
  width: 100%;
}
.ftco-section .img img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ftco-choose .img.img-2 {
  margin-top: -70px;
  border-top: 15px solid #f8f9fa;
  border-left: 15px solid #f8f9fa;
  min-height: 537px;
}
.ftco-choose .text.text-2 {
  margin-left: 0;
}

.ftco-choose h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
}
.site-btn:hover{ color: #fff;;}