.banner-home {
  .home_slider {
    position: relative;
    .carousel-item{
      position: relative;
    height:600px;
    }
    .img-fluid {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.banner__text span {
  font-size: 18px;
  color: #ca1515;
  text-transform: uppercase;margin-bottom:20px;
  display: block;
}

.banner__text h1 {
  font-size: 80px;
  color: #111111;
  font-family: 'Cookie', cursive;
  margin-bottom:30px;
  line-height: 66px;
}

.banner__text a {
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding: 0 0 3px;
  display: inline-block;
}

.banner__text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ca1515;
  content: '';
}

.banner__slider {
  text-align: center;
  padding: px 0 0;
}

.banner__slider.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  top: inherit;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.carousel-indicators li {
  height: 12px;
  width: 12px;
  background: #a1a1a1;
  border-radius: 50%;
  margin-right: 7px;
  border: 0;
}

.carousel-indicators li.active {
  background: #ca1515;
}

.carousel-indicators li:last-child {
  margin-right: 0;
}

.banner__text {
  text-shadow: none;
}
body .carousel-caption {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .carousel-indicators {
  bottom: 40px;
}
