
/*Font Colors*/
$white: #fff;
$gray: #666;
$black: #000;

/*Border Radius*/
$radius-5: 5px; 

/*Font Size*/
$font11:11px;
$font13:13px;
$font15:15px;

/*Font Family*/
$lato: 'Lato', sans-serif;
$lora: 'lora', sans-serif;
$raleway: 'Raleway', sans-serif;
$montserrat:'Montserrat' sans-serif;

/*Background Color*/
$bg-light:#fff;
$bg-dark:#ccc;

/*Social*/
$facebook:#3b5998;
$twitter:#4099ff;
$gmail:#dd4b39;
$pintrest:#cb2027;
$instagram:#fb3958;
$linkedin :#007bb6;
$youtube :#bb0000;
$snapchat :#fffc00;

/*Placeholder*/
$placeholder:#787878;


a, a:hover{
    text-decoration: none;  
    outline: 0;   
    outline:none;
    transition: all 300ms ease-in-out;
}
ul{
    padding: 0;
    margin: 0;
    li{
        padding: 0; margin: 0;
    }
    
}
img{
    border: 0;
    outline: 0;
    outline:none;
}
.l {
    float: left;
  }
.c {
    clear: both;
  }
.r {
    float: right;
  }