/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  .header {
    padding: 0 85px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .header {
    padding: 0 30px;
  }
  .navbar-dark .navbar-nav .nav-item {
   
    margin-right: 36px;}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-dark .navbar-nav .nav-item {
    margin-right: 24px;
  }
  
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (max-width: 1200px) {
  
}

/* 
@media only screen and (min-width: 768px) and (max-width: 991px) { */

@media screen and (max-width: 991px) {
  .header [class*='col-'],
  .header .navbar {
    position: static;
  }
  .navbar-dark .navbar-toggler {
    color: #000;
  }
  .navbar-dark .navbar-toggler {
    z-index: 1;
  }
  .header__right__widget {
    text-align: center;
  }
  .header .navbar .navbar-collapse .smtoggle {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .navbar-dark .navbar-nav .nav-link {
    text-transform: capitalize;
    padding: 7px 0;
    font-weight: 600;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    display: none;
  }
  .header .navbar-dark .navbar-nav a:hover,
  .navbar-dark .navbar-nav .nav-item.active .nav-link,
  .header .navbar-dark .navbar-nav .dropdown-menu li a:hover {
    color: #ca1515;
  }

  .navbar-dark .navbar-nav .show > .nav-link {
    color: #000;
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link i {
    display: inline-block;
  }
  .navbar-dark .navbar-nav .nav-item.dropdown .nav-link i::after {
    content: '\f0da';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
  }
  .navbar-dark .navbar-nav .nav-item.dropdown.dropdown.show .nav-link i::after {
    content: '\f0d7';
  }

  .header .not-collapsed + .navbar {
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7) !important;
    top: 0;
    position: fixed;
    z-index: 33;
  }

  .header .navbar-collapse {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100% !important;
    background: #ffffff;
    padding: 90px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
    top: 0px;
    height: 100hv;
  }
  .header .navbar-collapse.show {
    opacity: 1;
    left: 0;
  }

  .navbar-dark .dropdown:hover .dropdown-menu {
    display: none;
    visibility: visible;
    opacity: 1;
  }

  .navbar-dark .dropdown.show:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .navbar-dark .dropdown.show .dropdown-menu {
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    margin: 0;
  }
  .navbar-dark .dropdown-menu li a:hover,
  .header__right__auth a:hover {
    background: none;
    color: #ca1515;
  }

  .navbar-dark {
    .navbar-nav {
      .nuxt-link-exact-active {
        color: #ca1515 !important;
      }
    }
  }

  .navbar-dark .dropdown-menu {
    border: 0;
    background: none;
  }
  .navbar-dark .dropdown-menu li a {
    font-weight: 600;
    padding: 7px 0;
    color: #000;
  }

  .header__right__auth a {
    font-size: 14px;
    color: #000;

    font-weight: 600;
  }

  .header__right__auth {
    margin-right: 0;
    padding-top: 20px;
  }

  .navbar-toggler {
    padding: 0;
  }
  .navbar-dark .navbar-nav .nav-item {
    margin-right: 24px;
  }
  .header .navbar .header__logo,
  .header .navbar .header__right__widget,
  .header .navbar .header__right__auth {
    display: block;
  }
  header .bg-info {
    padding: 0;
  }
  .navbar-dark .navbar-toggler {
    border-color: #000;
    border-radius: 2px;
    outline: none;
  }

  .filter__controls li {
    margin-right: 15px;
  }
  .discount__pic img {
    height: auto;
  }
  .discount__text {
    height: auto;
  }
  .sidebar__filter a {
    position: relative;
    bottom: 0;
  }
  .filter-range-wrap .range-slider .price-input input {
    max-width: 27%;
  }
  .filter-range-wrap .range-slider .price-input {
    margin-bottom: 20px;
  }
  .product__details__pic {
    margin-bottom: 50px;
  }
  .nav::before {
    width: 125px;
  }
  .nav::after {
    width: 125px;
  }
  .discount__content {
    margin-bottom: 40px;
  }
  .checkout__order {
    margin-top: 20px;
  }
  .blog__sidebar {
    padding-left: 0;
  }
  .canvas__open {
    display: block;
    font-size: 22px;
    color: #222;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 24px;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 90px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }
  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }
  .offcanvas__close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
  }
  .offcanvas__menu {
    display: none;
  }
  .slicknav_btn {
    display: none;
  }
  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  .slicknav_nav ul {
    margin: 0;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 7px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }
  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav a:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav {
    display: block !important;
  }
  .offcanvas__logo {
    margin-bottom: 25px;
  }
  .offcanvas__widget {
    text-align: center;
    margin-bottom: 20px;
  }
  .offcanvas__widget li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #111111;
    margin-right: 20px;
    cursor: pointer;
  }
  .offcanvas__widget li:last-child {
    margin-right: 0;
  }
  .offcanvas__widget li a {
    font-size: 18px;
    color: #111111;
    position: relative;
  }
  .offcanvas__widget li a .tip {
    position: absolute;
    right: -12px;
    top: -11px;
    height: 18px;
    width: 18px;
    background: #111111;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
  }
  .offcanvas__auth a {
    font-size: 15px;
    color: #111111;
    position: relative;
    margin-right: 8px;
    font-weight: 500;
  }
  .offcanvas__auth a:last-child {
    margin-right: 0;
  }
  .offcanvas__auth a:last-child:after {
    display: none;
  }
  .offcanvas__auth a:after {
    position: absolute;
    right: -8px;
    top: -2px;
    content: '/';
    font-size: 13px;
  }
  .header__menu {
    display: none;
  }
  .header__right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .canvas__open {
    display: block;
    font-size: 22px;
    color: #222;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 24px;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -270px;
    width: 270px;
    height: 100%;
    background: #ffffff;
    padding: 90px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }
  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }
  .offcanvas__close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
  }
  .offcanvas__menu {
    display: none;
  }
  .slicknav_btn {
    display: none;
  }
  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  .slicknav_nav ul {
    margin: 0;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 7px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }
  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav a:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav {
    display: block !important;
  }
  .offcanvas__logo {
    margin-bottom: 25px;
  }
  .offcanvas__widget {
    text-align: center;
    margin-bottom: 20px;
  }
  .offcanvas__widget li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #111111;
    margin-right: 20px;
    cursor: pointer;
  }
  .offcanvas__widget li:last-child {
    margin-right: 0;
  }
  .offcanvas__widget li a {
    font-size: 18px;
    color: #111111;
    position: relative;
  }
  .offcanvas__widget li a .tip {
    position: absolute;
    right: -12px;
    top: -11px;
    height: 18px;
    width: 18px;
    background: #111111;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
  }
  .offcanvas__auth a {
    font-size: 15px;
    color: #111111;
    position: relative;
    margin-right: 8px;
    font-weight: 500;
  }
  .offcanvas__auth a:last-child {
    margin-right: 0;
  }
  .offcanvas__auth a:last-child:after {
    display: none;
  }
  .offcanvas__auth a:after {
    position: absolute;
    right: -8px;
    top: -2px;
    content: '/';
    font-size: 13px;
  }
  .header__menu {
    display: none;
  }
  .header__right {
    display: none;
  }
  .filter__controls {
    text-align: left;
    margin-bottom: 40px;
  }
  .filter__controls li {
    margin-right: 20px;
  }
  .discount__pic img {
    height: auto;
  }
  .discount__text {
    padding: 75px 40px 50px;
    height: auto;
  }
  .product__details__pic__left {
    height: auto;
  }
  .product__details__pic {
    margin-bottom: 30px;
  }
  .quantity {
    float: none;
    margin-right: 0;
  }
  .nav::before {
    display: none;
  }
  .nav::after {
    display: none;
  }
  .shop__cart__table {
    overflow-x: auto;
  }
  .shop__cart__table tbody tr .cart__product__item img {
    float: none;
    margin-right: 0;
  }
  .cart__btn {
    text-align: center;
    margin-bottom: 25px;
  }
  .cart__btn.update__btn {
    text-align: center;
  }
  .discount__content h6 {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .discount__content {
    margin-bottom: 35px;
  }
  .blog__sidebar {
    padding-left: 0;
    padding-top: 40px;
  }
  .contact__content {
    margin-bottom: 40px;
  }
  #header-search
    .modal-dialog
    .modal-content
    .modal-body
    .search-model-form
    input {
    width: 100%;
    font-size: 24px;
  }
  .ftco-section .img img {
    position: static;
  }
  .ftco-choose .text {
    margin-left: 0;
  }
  .ftco-choose .img.img-2 {
    margin-top: 0;
    border-top: 0;
    border-left: 0;
  }
}

@media screen and (max-width: 660px) {
  body .instagram .slick-arrow {
    top: 69%;
  }
  .banner-home .home_slider .carousel-item {
    position: relative;
    height: 380px;
  }
}

@media screen and (max-width: 520px) {
  .categories__item.categories__large__item {
    padding-left: 30px;
  }
  .banner__text h1 {
    font-size: 45px;
    line-height: 46px;
  }
  .filter__controls li {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .discount__text {
    padding: 75px 0px 50px;
  }
  .footer__newslatter form {
    text-align: center;
  }
  .footer__newslatter form input {
    margin-bottom: 10px;
  }
  .footer__newslatter form button {
    position: relative;
    right: 0;
    top: 0;
  }

  .product__details__button ul li {
    display: inline-block;
  }
  /* .product__details__button .cart-btn {
    float: none;
    margin-right: 0;
  } */
  .product__details__button ul {
    float: none;
  }
  .nav-item {
    margin-right: 20px;
  }
  .blog__details__item__title {
    margin-right: 30px;
  }
  .blog__comment__item.blog__comment__item--reply {
    padding-left: 0;
  }
  .blog__comment__item__text ul li {
    margin-right: 5px;
  }
  .primary-btn.load-btn {
    padding: 12px 50px 10px;
  }
  .blog__comment__item__pic {
    float: none;
    margin-bottom: 20px;
  }
  .discount__content form {
    width: 100%;
  }
  .search-model-form input {
    width: 100%;
    font-size: 24px;
  }
}

@media screen and (max-width: 426px) {
}
