@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif !important;
}

.wrapper {
  max-width: 1500px;
  margin: auto;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 1170px;
}

button {
  outline: none !important;
}

/*---------------------
  Header Search box
-----------------------*/
#header-search .modal-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffffff;
  z-index: 99999;
  max-width: inherit;
  margin: 0;
  border: 0;
  border-radius: 0;
}

#header-search .modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
  height: 100%;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#header-search .modal-dialog .modal-content .modal-body {
  height: 100%;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#header-search .modal-dialog .modal-content .modal-body .search-model-form input {
  width: 500px;
  font-size: 40px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 2px solid #dddddd;
  background: 0 0;
  color: #999;
}

#header-search .modal-header {
  padding: 0;
  border: 0;
  margin: 0;
}

#header-search .modal-header .close {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  opacity: inherit;
  font-size: 34px;
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
  line-height: 28px;
  top: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

#header-search .modal-footer {
  display: none;
}

/*---------------------
  Header Search box end
-----------------------*/
/*---------------------
  Services
-----------------------*/
.services {
  padding-top: 80px;
  padding-bottom: 50px;
}

.services__item {
  padding-left: 65px;
  position: relative;
  margin-bottom: 20px;
}

.services__item i {
  font-size: 36px;
  color: #ca1515;
  position: absolute;
  left: 0;
  top: 4px;
}

.services__item h6 {
  color: #111111;
  font-weight: 600;
  margin-bottom: 5px;
}

.services__item p {
  margin-bottom: 0;
}

/*---------------------
  Services
-----------------------*/
/*---------------------
  Instagram
-----------------------*/
.instagram__item {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.instagram__item:hover:after {
  opacity: 1;
}

.instagram__item:hover .instagram__text {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.instagram__item:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  content: '';
  opacity: 0;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.instagram__text {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.instagram__text i {
  font-size: 30px;
  color: #0d0d0d;
}

.instagram__text a {
  font-size: 16px;
  color: #0d0d0d;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.instagram__item {
  position: relative;
}

.instagram__item img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*---------------------
  Instagram end
-----------------------*/
/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-option {
  padding-top: 35px;
}

.breadcrumb__links a {
  font-size: 15px;
  font-weight: 500;
  color: #111111;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}

.breadcrumb__links a:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: '';
  font-family: 'FontAwesome';
}

.breadcrumb__links a i {
  margin-right: 5px;
}

.breadcrumb__links span {
  font-size: 15px;
  font-weight: 500;
  color: #888888;
  display: inline-block;
}

/*---------------------
  Breadcrumb end
-----------------------*/
/*---------------------
    Blog
-----------------------*/
.blog {
  padding-top: 70px;
  padding-bottom: 80px;
}

.blog__item {
  margin-bottom: 35px;
}

.blog__item__pic {
  height: 240px;
  position: relative;
}

.blog__item__pic.large__item {
  height: 540px;
  position: relative;
}

.blog__item__pic img,
.blog__item__pic.large__item img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog__item__text {
  padding: 25px 20px 0 0;
  margin-right: 30px;
  background: #ffffff;
  margin-top: -54px;
  position: relative;
}

.blog__item__text h6 {
  margin-bottom: 6px;
}

.blog__item__text h6 a {
  color: #111111;
  font-weight: 600;
  line-height: 21px;
}

.blog__item__text ul li {
  font-size: 12px;
  color: #888888;
  display: inline-block;
  list-style: none;
  margin-right: 25px;
  position: relative;
}

.blog__item__text ul li span {
  color: #111111;
}

.blog__item__text ul li:after {
  position: absolute;
  right: -17px;
  top: 0px;
  content: '|';
}

.blog__item__text ul li:last-child {
  margin-right: 0;
}

.blog__item__text ul li:last-child:after {
  display: none;
}

.primary-btn.load-btn {
  color: #111111;
  background: #f2f2f2;
  padding: 12px 85px 10px;
  border-radius: 50px;
}

/*---------------------
    Blog end
-----------------------*/
/*---------------------
  Blog Sidebar
-----------------------*/
.blog__sidebar {
  padding-left: 40px;
}

.blog__sidebar__item {
  margin-bottom: 50px;
}

.blog__sidebar__item:last-child {
  margin-bottom: 0;
}

.blog__sidebar__item .section-title {
  margin-bottom: 40px;
}

.blog__sidebar__item .section-title h4 {
  font-size: 16px;
}

.blog__sidebar__item .section-title h4:after {
  bottom: -7px;
}

.blog__sidebar__item ul li {
  list-style: none;
  line-height: 30px;
}

.blog__sidebar__item ul li a {
  font-size: 14px;
  color: #111111;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.blog__sidebar__item ul li a:hover {
  color: #ca1515;
}

.blog__sidebar__item ul li a:hover span {
  color: #111111;
}

.blog__sidebar__item ul li a span {
  float: right;
  color: #888888;
}

.blog__feature__item {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog__feature__item:last-child {
  margin-bottom: 0;
}

.blog__feature__item__pic {
  float: left;
  margin-right: 25px;
}

.blog__feature__item__text {
  overflow: hidden;
}

.blog__feature__item__text h6 {
  font-size: 14px;
  color: #111111;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 5px;
}

.blog__feature__item__text span {
  font-size: 12px;
  color: #888888;
  display: block;
}

.blog__sidebar__tags a {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  border: 1px solid #f2f2f2;
  padding: 8px 14px 7px;
  margin-right: 6px;
  margin-bottom: 10px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.blog__sidebar__tags a:hover {
  color: #111111;
}

.blog__sidebar__tags a:last-child {
  margin-right: 0;
}

/*---------------------
  Blog Sidebar end
-----------------------*/
/*---------------------
  Blog Details
-----------------------*/
.blog-details {
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog__details__item {
  background: #ffffff;
  margin-bottom: 24px;
}

.blog__details__item__title {
  background: #ffffff;
  padding-top: 30px;
  padding-right: 30px;
  margin-top: -100px;
  position: relative;
  margin-right: 50px;
}

.blog__details__item__title .tip {
  font-size: 12px;
  color: #ffffff;
  background: #ca1515;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 2px 11px 1px;
  border-radius: 5px;
}

.blog__details__item__title h4 {
  color: #111111;
  font-weight: 600;
  line-height: 39px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.blog__details__item__title ul li {
  font-size: 12px;
  color: #888888;
  display: inline-block;
  list-style: none;
  margin-right: 25px;
  position: relative;
}

.blog__details__item__title ul li span {
  color: #111111;
}

.blog__details__item__title ul li:after {
  position: absolute;
  right: -17px;
  top: 0px;
  content: '|';
}

.blog__details__item__title ul li:last-child {
  margin-right: 0;
}

.blog__details__item__title ul li:last-child:after {
  display: none;
}

.blog__details__desc {
  margin-bottom: 40px;
}

.blog__details__desc p {
  font-size: 15px;
  color: #444444;
  line-height: 27px;
}

.blog__details__desc p:last-child {
  margin-bottom: 0;
}

.blog__details__quote {
  border-top: 2px solid #ca1515;
  position: relative;
  padding-top: 22px;
  margin-bottom: 20px;
}

.blog__details__quote .icon {
  height: 30px;
  width: 30px;
  font-size: 18px;
  color: #ca1515;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: -11px;
}

.blog__details__quote p {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 0;
}

.blog__details__tags {
  margin-bottom: 50px;
}

.blog__details__tags a {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  border: 1px solid #f2f2f2;
  padding: 8px 14px 7px;
  margin-right: 6px;
  margin-bottom: 10px;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.blog__details__tags a:hover {
  color: #111111;
}

.blog__details__tags a:last-child {
  margin-right: 0;
}

.blog__details__btns {
  background: #f5f5f5;
  padding: 14px 30px;
  margin-bottom: 55px;
}

.blog__details__btn__item.blog__details__btn__item--next {
  text-align: right;
}

.blog__details__btn__item.blog__details__btn__item--next h6 a i {
  margin-right: 0;
  margin-left: 5px;
}

.blog__details__btn__item h6 a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #111111;
}

.blog__details__btn__item h6 a i {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.blog__details__comment {
  position: relative;
}

.blog__details__comment h5 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.blog__details__comment .leave-btn {
  font-size: 14px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
}

.blog__details__comment .leave-btn:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background: #ca1515;
  content: '';
}

.blog__comment__item {
  margin-bottom: 35px;
}

.blog__comment__item:last-child {
  margin-bottom: 0;
}

.blog__comment__item.blog__comment__item--reply {
  padding-left: 115px;
}

.blog__comment__item__pic {
  float: left;
  margin-right: 25px;
}

.blog__comment__item__pic img {
  border-radius: 50%;
}

.blog__comment__item__text {
  overflow: hidden;
}

.blog__comment__item__text h6 {
  color: #111111;
  font-weight: 600;
  margin-bottom: 14px;
}

.blog__comment__item__text p {
  font-size: 15px;
  color: #444444;
  line-height: 26px;
}

.blog__comment__item__text ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 25px;
}

.blog__comment__item__text ul li:last-child {
  margin-right: 0;
}

.blog__comment__item__text ul li i {
  font-size: 14px;
  color: #ca1515;
  margin-right: 5px;
}

/*---------------------
  Blog Details end
-----------------------*/
/*---------------------
  Slick 
-----------------------*/
body .slick-dots li {
  margin: 0 -4px;
}

body .slick-dots li.slick-active button::before {
  color: #ca1515;
}

.relatedproduct-row .slick-slide {
  padding: 0 15px;
}

.relatedproduct-row .slick-slider {
  margin: 0 -15px;
}

body .slick-arrow {
  top: 50%;
  color: #111111;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  margin-top: -20px;
  border: 0;
  top: 48%;
  z-index: 1;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

body .slick-prev {
  left: 30px;
}

body .slick-next {
  right: 30px;
}

body .slick-prev:hover,
body .slick-prev:focus,
body .slick-next:hover,
body .slick-next:focus {
  color: #111111;
  background: rgba(255, 255, 255, 0.7);
}

body .slick-prev::before,
body .slick-next::before {
  color: #000;
}

body .slick-prev::before {
  content: '\f053';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 19px;
  line-height: 41px;
}

body .slick-next::before {
  content: '\f054';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 19px;
  line-height: 41px;
}

.site-btn:hover,
.primary-btn:hover,
.cart-btn:hover {
  background: #c43c3c !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */