<template>
  <div class="row">
    <div
      class="col-lg-4 col-md-6"
      v-for="data in collectionList"
      :key="data.id"
    >
      <div class="product__item">
        <div class="product__item__pic set-bg">
          <router-link v-bind:to="{ name: 'Productdetails', params: data }"
            ><img v-bind:src="data.images[0].src" alt=""
          /></router-link>
          <div class="label new" v-if="data.images[0] == data.images[0].src">
            New
          </div>
          <ul class="product__hover">
            <li>
              <router-link
                v-bind:to="{ name: 'Productdetails', params: data }"
                class="image-popup"
                ><span class="arrow_expand"></span
              ></router-link>
            </li>
            <li>
              <router-link v-bind:to="{ name:'Productdetails', params: data }"
                ><span class="icon_heart_alt"></span
              ></router-link>
            </li>
            <li>
              <router-link v-bind:to="{ name: 'Productdetails', params: data }"
                ><span class="icon_bag_alt"></span
              ></router-link>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6>
            <router-link v-bind:to="{ name:'Productdetails', params: data }">{{
              data.title
            }}</router-link>
          </h6>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="product__price">${{ data.variants[0].price }}</div>
        </div>
      </div>
    </div>
    <div
      v-if="
        collectionList[this.totalSize - 1] &&
        collectionList[this.totalSize - 1].hasNextPage
      "
    >
      <b-button @click="loadMore()">Load More Products</b-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      collectionList: [],
      loadMoreSize: 3,
      totalSize: 0,
    };
  },
 created: function () {
    this.loadMore();
  },
  methods: {
   async loadMore() {
      this.totalSize = this.loadMoreSize + this.collectionList.length;
     await this.$store.dispatch("getProductLists", {
        id: "0",
        limit: this.totalSize,
      });
    },
  },
  computed: {
    clothes: function () {               
        return this.$store.getters.productData
   },
  },
  watch: {
    clothes: function (newVal, oldVal) {
      this.collectionList = newVal;
    },
    deep: true,
  },
};
</script>
