<template>
  <div class="blog__sidebar">
    <div class="blog__sidebar__item">
      <div class="section-title">
        <h4>Categories</h4>
      </div>
      <ul>
        <li>
          <a href="#">All <span>(250)</span></a>
        </li>
        <li>
          <a href="#">Fashion week <span>(80)</span></a>
        </li>
        <li>
          <a href="#">Street style <span>(75)</span></a>
        </li>
        <li>
          <a href="#">Lifestyle <span>(35)</span></a>
        </li>
        <li>
          <a href="#">Beauty <span>(60)</span></a>
        </li>
      </ul>
    </div>
    <div class="blog__sidebar__item">
      <div class="section-title">
        <h4>Feature posts</h4>
      </div>
      <a href="#" class="blog__feature__item">
        <div class="blog__feature__item__pic">
          <img src="~/static/blog/sidebar/fp-1.jpg" alt="" />
        </div>
        <div class="blog__feature__item__text">
          <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
          <span>Seb 17, 2019</span>
        </div>
      </a>
      <a href="#" class="blog__feature__item">
        <div class="blog__feature__item__pic">
          <img src="~/static/blog/sidebar/fp-2.jpg" alt="" />
        </div>
        <div class="blog__feature__item__text">
          <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
          <span>Seb 17, 2019</span>
        </div>
      </a>
      <a href="#" class="blog__feature__item">
        <div class="blog__feature__item__pic">
          <img src="~/static/blog/sidebar/fp-3.jpg" alt="" />
        </div>
        <div class="blog__feature__item__text">
          <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
          <span>Seb 17, 2019</span>
        </div>
      </a>
    </div>
    <div class="blog__sidebar__item">
      <div class="section-title">
        <h4>Tags cloud</h4>
      </div>
      <div class="blog__sidebar__tags">
        <a href="#">Fashion</a>
        <a href="#">Street style</a>
        <a href="#">Diversity</a>
        <a href="#">Beauty</a>
      </div>
    </div>
  </div>
</template>
