<template>
  <div id="app">
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <Header />
    <router-view></router-view>
    <Footer />
    <b-modal id="header-search"> 
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </b-modal>
  </div>
</template>
<style lang="scss">
@import '~assets/css/style';
@import '~assets/css/eleganticons';
@import '~assets/css/_var';
@import '~assets/css/responsive';
</style>
