<template>
  <div>
    <Breadcrumb />
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <AccessoriesSidebar />
          </div>
          <div class="col-lg-9 col-md-9">
            <AccessoriesrightSide />
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>

import Homeinstagram from '~/components/home/Homeinstagram'
import AccessoriesrightSide from '~/components/accessories/AccessoriesrightSide'
import AccessoriesSidebar from '~/components/accessories/AccessoriesSidebar'
export default {
  components: {
    AccessoriesrightSide,
    AccessoriesSidebar,
  },
}
</script>
(edited)
<style lang="scss">
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>
