<template>
  <div>
    <Breadcrumb />
    <section class="blog spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic large__item set-bg">
                <img src="~/static/blog/blog-1.jpg" alt="" />
              </div>
              <div class="blog__item__text">
                <h6>
                  <a href="#"
                    >No Bad Blood! The Reason Why Tamr Judge Finally Made Up
                    With...</a
                  >
                </h6>
                <ul>
                  <li>by <span>Ema Timahe</span></li>
                  <li>Seb 17, 2019</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-2.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Amf Cannes Red Carpet Celebrities Kendall Jenner,
                        Pamela...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-3.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Gigi Hadid, Rita Ora, Serena &amp; Other Hot Celebs
                        Stun At 2019...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-4.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Ireland Baldwin Shows Off Trendy Ilse Valfre Tattoo At
                        Stagecoach...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-5.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Billboard Music Awards: Best, Worst &amp; Wackiest
                        Dresses On The...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-7.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Pot Party! See Farrah Abraham Flaunt Smoking Body
                        At...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-8.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >Kim Kardashian Steps Out In Paris Wearing Shocking
                        Sparkly...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-9.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >CMT Awards 2019 Red Carpet Arrivals Carrie Underwood,
                        Sheryl...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__item">
                  <div class="blog__item__pic set-bg">
                    <img src="~/static/blog/blog-10.jpg" alt="" />
                  </div>
                  <div class="blog__item__text">
                    <h6>
                      <a href="#"
                        >A-list Battle! Angelina Jolie &amp; Lady Gaga Fighting
                        Over Who...</a
                      >
                    </h6>
                    <ul>
                      <li>by <span>Ema Timahe</span></li>
                      <li>Seb 17, 2019</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic large__item set-bg">
                <img src="~/static/blog/blog-6.jpg" alt="" />
              </div>
              <div class="blog__item__text">
                <h6>
                  <a href="#"
                    >Stephanie Pratt Busts Out Of Teeny Black Bikini During
                    Hawaii...</a
                  >
                </h6>
                <ul>
                  <li>by <span>Ema Timahe</span></li>
                  <li>Seb 17, 2019</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />

  </div>
</template>
<script>
import Homeinstagram from '~/components/home/Homeinstagram'
export default {
  components: {
    Homeinstagram,
  },
}
</script>
(edited)

<style lang="sass">
@import '~assets/css/responsive';
</style>



