<template>
  <div>
    <Breadcrumb />
    <section class="shop-cart spad">
      <div class="container" v-if="cartItemCount">
        <div class="row">
          <div class="col-lg-12">
            <div class="shop__cart__table">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody v-for="item in cart" :key="item.id">
                  <tr>
                    <td class="cart__product__item">
                      <img v-bind:src="item.variant.image.src" alt="" />
                      <div class="cart__product__item__title">
                        <h6>{{ item.title }}</h6>
                        <div class="rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </td>
                    <td class="cart__price">${{ item.variant.price }}</td>
                    <td class="cart__quantity">
                      <div class="pro-qty">
                        <span
                          class="dec qtybtn"
                          @click.prevent="updateCart(item.id, item.quantity-1)"
                          >-</span
                        >
                        <input type="text" v-model="item.quantity" />
                        <span
                          class="inc qtybtn"
                            @click.prevent="updateCart(item.id, item.quantity+1)"
                          >+</span
                        >
                      </div>
                    </td>
                    <td class="cart__total">
                      $ {{ item.variant.price * item.quantity }}
                    </td>
                    <td class="cart__close">
                      <span
                        class="icon_close"
                        @click.prevent="removeCartItem(item.id)"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="cart__btn">
              <router-link to="/clothes">Continue Shopping</router-link>
            </div>
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="cart__btn update__btn" v-for="item in cart" :key="item.id">
              <button @click="updateCart(item.id)">
                <span class="icon_loading"></span> Update cart
              </button>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="discount__content">
              <h6>Discount codes</h6>
              <form action="#">
                <input type="text" placeholder="Enter your coupon code" v-model="couponData" />
                <button type="submit" class="site-btn" @click.prevent="addDiscount(couponData)">Apply</button>
              </form>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-2">
            <div class="cart__total__procced">
              <h6>Cart total</h6>
              <ul>
                <li>
                  Subtotal <span>${{ cartTotalPrice }}</span>
                </li>
                <li>
                  Total <span>${{ cartTotalPrice }}</span>
                </li>
              </ul>
              <button class="primary-btn" @click="checkOut">Proceed to checkout</button>
            </div>
          </div>
        </div>        
      </div>
      <div v-else>
        <h1>The Cart is empty</h1>
        </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>
import Homeinstagram from "~/components/home/Homeinstagram";

export default {
  data() {
    return {
      cartData:'',
      couponData:'',
      urlData:''
        };
  },  
  components: {
    Homeinstagram,
  },
  mounted() {
     this.cartData = this.$store.state.cart
       },
  computed: {
    cart() {
       return this.$store.state.cart;         
    },
    cartTotalPrice() {
      return this.$store.getters.cartTotalPrice
    },
    cartItemCount(){
      return this.$store.getters.cartItemCount
    }
  },
  
  methods: {
    removeCartItem(id) {
      this.$store.dispatch("removeProductFromCart", id);     
    },
    updateCart(id, qty) {
      if(qty >= 1)
      this.$store.dispatch('updateCartItems', {id, qty})      
    },
    addDiscount(data){
      console.log("check data :", data)
      this.$store.dispatch("addDiscount", data); 
    },
    async checkOut(){
      await this.$store.dispatch('checkOut').then(res=>{
         location.href=res
        this.urlData = res
       console.log("check url", this.urlData)
      })       
    }        
  },
};
</script>
(edited)
<style lang="scss">
@import "~assets/css/shopcart";
@import "~assets/css/responsive";
</style>
