<template>
  <div>
    <Breadcrumb />
    <section class="checkout spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="coupon__link">
              <span class="icon_tag_alt"></span>
              <router-link to="/">Have a coupon?</router-link> Click here to enter your code.
            </h6>
          </div>
        </div>
        <form action="#" class="checkout__form" >
          <div class="row">
            <div class="col-lg-8">
              <h5>Billing detail</h5>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="checkout__form__input">
                    <p>First Name <span>*</span></p>
                    <input type="text" v-model="firstName" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="checkout__form__input">
                    <p>Last Name <span>*</span></p>
                    <input type="text" v-model="lastName" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="checkout__form__input">
                    <p>Country <span>*</span></p>
                    <input type="text" v-model="Country" />
                  </div>
                  <div class="checkout__form__input">
                    <p>Address <span>*</span></p>
                    <input type="text" placeholder="Street Address" />
                    <input
                      type="text"
                      placeholder="Apartment. suite, unite ect ( optinal )"
                      v-model="address"
                    />
                  </div>
                  <div class="checkout__form__input">
                    <p>Town/City <span>*</span></p>
                    <input type="text" v-model="town"/>
                  </div>
                  <div class="checkout__form__input">
                    <p>Country/State <span>*</span></p>
                    <input type="text" v-model="country" />
                  </div>
                  <div class="checkout__form__input">
                    <p>Postcode/Zip <span>*</span></p>
                    <input type="number" v-model="postCode" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="checkout__form__input">
                    <p>Phone <span>*</span></p>
                    <input type="number" v-model="phone" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="checkout__form__input">
                    <p>Email <span>*</span></p>
                    <input type="text" v-model="email" />
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="checkout__form__checkbox">
                    <label for="acc">
                      Create an acount?
                      <input type="checkbox" id="acc" />
                      <span class="checkmark"></span>
                    </label>
                    <p>
                      Create am acount by entering the information below. If you
                      are a returing customer login at the <br />top of the page
                    </p>
                  </div>
                  <div class="checkout__form__input">
                    <p>Account Password <span>*</span></p>
                    <input type="text" v-model="accountPassword" />
                  </div>
                  <div class="checkout__form__checkbox">
                    <label for="note">
                      Note about your order, e.g, special noe for delivery
                      <input type="checkbox" id="note" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="checkout__form__input">
                    <p>Oder notes <span>*</span></p>
                    <input
                      type="text"
                      placeholder="Note about your order, e.g, special noe for delivery"
                      v-model="orderNotes"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <Checkoutorder />
            </div>
          </div>
        </form>
      </div>
      <div></div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>
import Homeinstagram from '~/components/home/Homeinstagram'
import Checkoutorder from '~/components/checkout/Checkoutorder'
export default {
  data(){
    return{
    firstName:'',
    lastName:'',
    email:'',
    phone:'',
    postCode:'',
    orderNotes:'',
    country:'',
    town:''
    }
  },
  components: {
    Homeinstagram,
    Checkoutorder,
  },
    computed: {
    cart() {
     return this.$store.state.cart;         
    },
    cartTotalPrice() {
      return this.$store.getters.cartTotalPrice
    }
  },
}
</script>
(edited)
<style lang="scss">
@import '~assets/css/checkout';
@import '~assets/css/responsive';
</style>
