<template>
  <div>
    <Breadcrumb />
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <Clothessidebar />
          </div>
          <div class="col-lg-9 col-md-9">
            <Clothesrightbar />
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>
import Homeinstagram from '~/components/home/Homeinstagram'
import Clothesrightbar from '~/components/clothes/Clothesrightbar'
import Clothessidebar from '~/components/clothes/Clothessidebar'
export default {
  components: {
    Clothesrightbar,
    Clothessidebar,
  },
}
</script>
(edited)
<style lang="scss">
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>
