<template>
  <div>
    <Breadcrumb />
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <Eventsidebar />
          </div>
          <div class="col-lg-9 col-md-9">
            <EventrightSide />
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>
import Homeinstagram from '~/components/home/Homeinstagram'
import EventrightSide from '~/components/eventdressing/EventrightSide'
import Eventsidebar from '~/components/eventdressing/Eventsidebar'
export default {
  components: {
    EventrightSide,
    Eventsidebar,
  },
}
</script>
(edited)
<style lang="scss">
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>
