<template>
  <div>
    <Homebannerbegin />
    <Homeaboutus />
    <Homenewproduct />
    <Homecategories />
    <Hometrend />
    <Homediscount />
    <Homeservices />
    <Homeinstagram />
  </div>
</template>
<script>
import Homecategories from '~/components/home/Homecategories'
import Homeaboutus from '~/components/home/Homeaboutus'
import Homenewproduct from '~/components/home/Homenewproduct'
import Homebannerbegin from '~/components/home/Homebannerbegin'
import Hometrend from '~/components/home/Hometrend'
import Homediscount from '~/components/home/Homediscount'
import Homeservices from '~/components/home/Homeservices'
import Homeinstagram from '~/components/home/Homeinstagram'
export default {
  components: {
    Homecategories,
    Homeaboutus,
    Homenewproduct,
    Homebannerbegin,
    Hometrend,
    Homediscount,
    Homeservices,
    Homeinstagram,
  },
}
</script>
(edited)
<style lang="sass">
@import '~assets/css/responsive';
</style>
