<template>
  <div>
    <Breadcrumb />
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <Outletsidebar />
          </div>
          <div class="col-lg-9 col-md-9">
            <Outlet />
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>

import Homeinstagram from '~/components/home/Homeinstagram'
import Outlet from '~/components/outlet/outlet'
import Outletsidebar from '~/components/outlet/Outletsidebar'
export default {
  components: {
    Outlet,
    Outletsidebar,
  },
}
</script>
<style lang="scss">
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>
