<template>
  <div>
     <Breadcrumb />
    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <Productdetailsslider v-bind:shop-list = 'shopData'/>
          </div>
          <div class="col-lg-6">
            <Productdetailsdisc v-bind:shop-list = 'shopData'/>
          </div>
        </div>
        <div class="productdetailstab-row">
          <Productdetailstab />
        </div>
          <Relatedproduct />
        </div>
    </section>
     <Homeinstagram />
   </div>
</template>
<script>
import Homeinstagram from '~/components/home/Homeinstagram'
import Clothessidebar from '~/components/clothes/Clothessidebar'
import Relatedproduct from '~/components/productdetails/Relatedproduct'
import Productdetailsslider from '~/components/productdetails/Productdetailsslider'
import Productdetailsdisc from '~/components/productdetails/Productdetailsdisc'
import Clothesrightbar from '~/components/clothes/Clothesrightbar'
export default {
  data (){
    return {
      shopData :[]
    }
  },
  components: {
    Clothessidebar,
    Relatedproduct,
    Productdetailsslider,
    Productdetailsdisc,
    Clothesrightbar,
  },
  created (){
     this.shopData = this.$route.params     
  }
}
</script>
(edited)

<style lang="scss">
@import '~assets/css/productdetails';
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>