<template>
  <div>
    <Breadcrumb />
    <section class="shop spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <Salesidebar />
          </div>
          <div class="col-lg-9 col-md-9">
            <Sale />
          </div>
        </div>
      </div>
    </section>
    <Homeinstagram />
  </div>
</template>
<script>

import Homeinstagram from '~/components/home/Homeinstagram'
import Sale from '~/components/sale/sale'
import Salesidebar from '~/components/sale/Salesidebar'
export default {
  components: {
    Sale,
    Salesidebar,
  },
}
</script>
(edited)
<style lang="scss">
@import '~assets/css/homenewproduct';
@import '~assets/css/responsive';
</style>
